parameters:
    database_host: localhost
    database_port: 3306
    database_name: gazprom_intranet_alpha
    database_user: root
    database_password: NThiZWIy
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    mailer_port: 465
    mailer_encryption: ssl
    mailer_from: questions@codex.gazprom-neft.local
    gpn_cas_server_url: /app_dev.php/fakeServer
    secret: ZWM3MWVlNjNhMmUwM2MxZjYyMTI0ZGVi
    jwt_token_secret: jwtsecret