{% extends 'admin/adminbase.html.twig' %}

{% block body -%}
    <h1>Новая тема</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_theme') }}">
            Назад к списку
        </a>
    </li>
</ul>
{% endblock %}
