{% extends 'admin/adminbase.html.twig' %}

{% block body %}
    <h1>Создание термина</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Сохранить"  class="btn btn-primary"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_term_index') }}">Назад к списку</a>
        </li>
    </ul>
{% endblock %}
